* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.top{
    width: 100%;
    background-color:#ffff;
    display: flex;
    padding: 40px;
    gap: 20px;
    
    
}  
.bottom{
    width: 100%;
    height: 42%;
    background-color: blueviolet;
}


body{
    width: 100vw;
    height: 100vh;
    
}
header{
    background: #FED780;
    margin: 4vh 10vw;
    height: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
header button{
    border: none;
    background-color: rgb(255, 255, 255);
    height: 2vh;
    width: 7vw;
    margin: 2.5vw;
}
aside{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    text-align: center;
    margin-left: 45px;
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FED780;
    padding: 30px;
    margin-bottom: 15px;
}
.chiquito{
    background-color: #FFB959;
    height: 80px;
    width: 150px;
}
aside p {
    color: #333;
    font-size: 14px;
    margin: 10px 0;
    margin-left: 30px;
    line-height: 1.5;
    width: 60%;
    text-align: right;
  }
  
.top button {
    background-color: #4b4f58;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 130px;
  }

  article {
    width: 70%;
  }
  
  .tarjeta {
    background-color: #5a5c63;
    padding: 1.5rem;
    display: flex;
    gap: 20px;
  }
  
  .imagen {
    width: 30%;
    height: 225px;
    background-color: #3f4147;
  }
  
  .contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
  }
  
  h2 {
    color: white;
    margin-bottom: 10px;
  }
